body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
  padding: 40px;
}
h1 {
  color: black;
}
.container {
  text-align: center;
}
.resposta {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  position: relative;
  justify-content: center;
}
.botao1,
.botao2,
.botaoreturn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 2.2em;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
}
.botao1:hover,
.botao2:hover {
  background-color: #ff85c1;
}
.botao2.run-away {
  transition: left 0.5s ease, top 0.5s ease;
}
.botao1:hover {
  background-color: #ff85c1;
  transform: scale(1.05);
}
.botao2 {
  position: relative;
}

.botao2:hover {
  animation: fugir 0.5s forwards;
}

@keyframes fugir {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw - 200px));
    opacity: 0;
  }
}
.mensagem {
  margin-top: 30px;
  font-size: 6.2em;
  color: black;
  text-align: center;
}
.botaoreturn {
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  color: #fff;
}
.botaoreturn a {
  color: #fff;
  text-decoration: none;
}
